# Server configuration
PORT=3000

# Cron schedule (Default: every 5 minutes)
# See: https://crontab.guru/
PING_INTERVAL="*/5 * * * *"

# Comma-separated list of URLs to monitor
URL_LIST="https://google.com, https://github.com"

# --- Notifications (Optional) ---

# Discord Webhook URL
# DISCORD_WEBHOOK=

# Telegram Bot configuration
# TELEGRAM_BOT_TOKEN=
# TELEGRAM_CHAT_ID=
